.event {
    display: flex;
    color: white;
    justify-content: space-between;
    border-bottom: 1px white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none; /* Remove default list styling */
}

ul li {
    margin-bottom: 5px; /* Optional: Add spacing between list items */
}

.ticketBtn {
    border: none;
    background-color: white;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
